<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>每小時/每日喝水統計</title>
    <style>
        .chart-container {
            position: relative;
            margin: auto;
            height: 60vh;
            width: 90vw;
        }

        .title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .chart-wrapper {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="title">每小時喝水統計</div>
    <div class="chart-container chart-wrapper">
        <canvas id="hourlyChart"></canvas>
    </div>

    <div class="title">每日喝水統計</div>
    <div class="chart-container chart-wrapper">
        <canvas id="dailyChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var hourlyCtx = document.getElementById('hourlyChart').getContext('2d');
        var dailyCtx = document.getElementById('dailyChart').getContext('2d');

        // Data for hourly chart
        var hourlyData = {
            labels: {{ CurrentTime | tojson }},
            datasets: [{
                label: 'Amount per hour',
                borderWidth: 1,
                data: {{ amount_hours | tojson }}
            }]
        };

        // Data for daily chart
        var dailyData = {
            labels: {{ date_daily | tojson }},
            datasets: [{
                label: 'Amount per day',
                borderWidth: 1,
                data: {{ amount_daily | tojson }}
            }]
        };

        // Hourly chart
        var hourlyChart = new Chart(hourlyCtx, {
            type: 'line',
            data: hourlyData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom'
                },
                title: {
                    display: true,
                    text: '每小時喝水統計',
                    fontSize: 20,
                    fontColor: '#333',
                    fontStyle: 'bold',
                    padding: 20
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: 'rgba(0,0,0,0.5)',
                            fontStyle: 'bold',
                            beginAtZero: true,
                            maxTicksLimit: 5,
                            padding: 20
                        },
                        gridLines: {
                            drawTicks: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'MMM DD'
                            }
                        },
                        ticks: {
                            fontColor: 'rgba(0,0,0,0.5)',
                            fontStyle: 'bold'
                        }
                    }]
                }
            }
        });

        // Daily chart
        var dailyChart = new Chart(dailyCtx, {
            type: 'line',
            data: dailyData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom'
                },
                title: {
                    display: true,
                    text: '每日喝水統計',
                    fontSize: 20,
                    fontColor: '#333',
                    fontStyle: 'bold',
                    padding: 20
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: 'rgba(0,0,0,0.5)',
                            fontStyle: 'bold',
                            beginAtZero: true,
                            maxTicksLimit: 5,
                            padding: 20
                        },
                        gridLines: {
                            drawTicks: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'MMM DD'
                            }
                        },
                        ticks: {
                            fontColor: 'rgba(0,0,0,0.5)',
                            fontStyle: 'bold'
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>
